= form_tag room_work_plays_path(@room.id), method: :get do 
  = text_field_tag :search, params[:search], placeholder: "Search Posts"
  = submit_tag "Search" 

%table
  %tr
    %th
      = sortable "name", "Робоче місце"
    %th
      = sortable "work_start", "Початок роботи"
    %th
      Працівники
    %th
      Пристрої
  - @room_wp.each do |work|
    %tr
      %td
        = work.name
      %td
        = work.work_start
      %td
        %table
          %tr
            %th
              ПІБ
            %th
              Посада
          - @worker.where(work_play_id: work.id).each do |worker|
            %tr
              %td
                = worker.pib
              %td
                = worker.posada
      %td
        %td
          %ul
            - Device.where(work_play_id: work.id).each do |device|
              %li 
                = device.model
      %td 
        = link_to "Редагувати", edit_room_work_play_path(@room.id, work.id)
      %td
        = link_to "Видалити", room_work_play_path(@room.id, work.id), method: :delete, data: { confirm: "Ви впевнені?" }

= link_to "Додати", new_room_work_play_path(@room)