%table
  %tr
    %th
      Робоче місце
    %th
      Початок роботи
    %th
      Працівники
    %th
      Пристрої
  - @room_wp.work_play.each do |work|
    %tr
      %td
        = work.name
      %td
        = work.work_start
      %td
        %table
          %tr
            %th
              ПІБ
            %th
              Посада
          - @worker.where(work_play_id: work.id).each do |worker|
            %tr
              %td
                = worker.pib
              %td
                = worker.posada
      %td
        %td
          %ul
            - Device.where(work_play_id: work.id).each do |device|
              %li 
                = device.model
      %td 
        = link_to "Редагувати", edit_room_work_play_path(@room_wp.id, work.id)
      %td
        = link_to "Видалити", room_work_play_path(@room_wp.id, work.id), method: :delete, data: { confirm: "Ви впевнені?" }

= link_to "Додати", new_room_work_play_path(@room_wp)