= form_for @product do |f|
  %div
    = f.label :name, 'Назва:' 
    = f.text_field :name
  %div
    = f.label :inventory_number, 'Інвентаризаційний номер:' 
    = f.text_field :inventory_number
  %div 
    = f.label :price, 'Ціна:'
    = f.text_field :price
  %div
    = f.label :count, 'Кількість:' 
    = f.text_field :count
  %div 
    = f.label :buy_date, 'Дата придбання:'
    = f.text_field :buy_date
  %div 
    = f.label :expluatation_time, 'Експлуатаційний термін:'
    = f.text_field :expluatation_time
  %div 
    = f.label :spisano, 'Списано:'
    = f.text_field :spisano
  .buttons
    = f.submit 'Додати', class: 'add-new-record', method: :post
    = link_to "Назад", url_for(:back), class: 'close'