= form_tag products_path, method: :get, id: 'search-form' do
  = text_field_tag :search, params[:search], placeholder: "Search Posts"
  = submit_tag 'Шукати'

.table
  %table{border: "0", cellspacing: "0", cellpadding: "0"}
    %tr
      %th{style: "width: 50px"}
        = sortable "id", "ID"
      %th{style: "width: 200px"}
        = sortable "name", "Назва"
      %th{width: "150px"}
        = sortable "inventory_number", "Інвентаризаційний номер"
      %th{width: "150px"}
        = sortable "price", "Ціна"
      %th{width: "100px"}
        = sortable "count", "Кількість"
      %th{width: "100px"}
        = sortable "buy_date", "Дата придбання"
      %th{width: "150px"}
        = sortable "expluatation_time", "Експлуатаційний термін"
      %th{width: "100px"}
        = sortable "spisano", "Списано"
      %th{colspan: 2, width: '150px'} 
        Опції
    - @products.each do |product|
      %tr
        %td
          = link_to product.id, new_product_inform_path(product)
        %td
          = product.name
        %td
          = product.inventory_number
        %td
          = product.price
        %td  
          = product.count
        %td  
          = product.buy_date
        %td  
          = product.expluatation_time
        %td  
          = product.spisano
        %td 
          = link_to "Видалити", product, method: :delete, data: {confirm: "Ви впевнені?"}
        %td
          = link_to "Редагувати", edit_product_path(product)
= link_to 'Додати', new_product_path